@using AutoInsurance.Models
@using AutoInsurance.ViewModels
@model List<QuoteVm>

<h2>Success!</h2>
<h2>Here is your quote:</h2>
<div class="card-body col">
    @foreach (var customer in Model)
    {
    <div class="card mx-2">
        <div class="row mx-4">
            <div class="col">
                @customer.FirstName
                @customer.LastName
            </div>
            <div class="col">
                $@customer.Quote
            </div>
        </div>
    </div>
        }
</div>

